* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  .body-text {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
  }
  
  nav {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(47, 55, 207);
  }
  
  .heading {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
  }
  
  .nav-links a:hover:not(.active) {
    background-color: #89b4ce;
  }
  
  .nav-links li a.active {
    background-color: #56a4d5;
  }